<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
</head>
<body>
    <form action="" method="POST">
        <input type="text" name="todo"/>
        <button type="submit">Save</button>
    </form>
    <h1>{{.PageTitle}}</h1>
    <ul>
    {{range .Todos}}
         {{if .Done}}
         <li class="done">{{.Title}} <a href="/delete/{{.ID}}"> Delete</a></li>
         {{else}}
         <li>{{.Title}} <a href="/done/{{.ID}}">Done</a></li>
        {{end}}
    {{end}}
    </ul>
</body>
</html>