<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop - Manutenção de Estoque</title>
</head>
<body>
    <a href="/produto/novo">Novo Produto</a>
    <h1>{{.PageTitle}}</h1>
    <ul>
    {{range .Produtos}}
        <li>
            {{.NomeProduto}} (Compra: R${{.ValorCompra}}, Venda: R${{.ValorVenda}})
            <a href="/produto/editar/{{.ID}}">Editar</a>
            <form action="/produto/excluir/{{.ID}}" method="POST">
                <input type="submit" value="Excluir">
            </form>
        </li>
    {{end}}
    </ul>
</body>
</html>
